spring:
  application:
    name: nutridiary
  profiles:
    default: dev

---
spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: jdbc:mysql://db-p5b9b-kr.vpc-pub-cdb.ntruss.com:3306/nutridiary
    username: koo995
    password: koo995**
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
      data-locations: optional:classpath:db/data.sql

logging:
  level:
    org:
      springframework:
        jdbc:
          core: debug

---
spring:
  config:
    activate:
      on-profile: dev

  datasource:
    url: jdbc:mysql://localhost:3306/nutridiary
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
      data-locations: optional:classpath:db/data.sql

logging:
  level:
    org:
      springframework:
        jdbc:
          core: debug

---
spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: jdbc:h2:mem:nutridiary
    username: sa
    password:
    driver-class-name: org.h2.Driver
  sql:
    init:
      mode: always
      schema-locations: classpath:db/schema.sql
      data-locations: optional:classpath:db/data.sql

logging:
  level:
    org:
      springframework:
        jdbc:
          core: trace